<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Stone Rising Festival 2013", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "News", root_path %></li>
          <li><%= link_to "Bands", bands_path %></li>         
          <li><%= link_to "Infos", infos_path %></li>
          <li><%= link_to "Partners", partners_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
            
        </ul>
      </nav>
    </div>
  </div>
</header>
